@{
    ViewData["Title"] = "CRUD";
}

<div class="git-ref m-3">
    <a href="https://github.com/romeroletsgo" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
    </a>
</div>
<h1 class="mb-5"><span class="blue"></span>CRUD<span class="blue"></span><span class="yellow"> Операции с заказами клиентов</span></h1>

@*Таблица заказов клиентов*@
<div class="table-responsive m-1 p-1">
    <table class="table align-middle table-bordered">
        <thead>
            <tr>
                <th scope="col"><h1 class="text-aqua">№ Заказа</h1></th>
                <th scope="col"><h1 class="text-aqua">Id Заказа</h1></th>
                <th scope="col"><h1 class="text-aqua">Номер заказа</h1></th>
                <th scope="col"><h1 class="text-aqua">Дата заказа</h1></th>
                <th scope="col"><h1 class="text-aqua">Клиент</h1></th>
                <th scope="col"><h1 class="text-aqua">Статус заказа</h1></th>
                <th scope="col"><h1 class="text-aqua">Сумма заказа</h1></th>
                <th scope="col"><h1 class="text-aqua">Действие</h1></th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
        <tfoot class="tfoot">
            <tr>
                <td colspan="8">Итого заказов:</td>
            </tr> 
            <tr>
                <td colspan="8">Сумма всех заказов:</td>
            </tr>
        </tfoot>
    </table>
    <button type="button" class="btn btn-primary btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox()">Добавить заказ клиента</button>
</div>

@*Модальное окно*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-dark bg-gradient">
        <div class="modal-content bg-dark bg-gradient">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Создание нового заказа</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="alert alert-danger msg-error"></div>
                    <input name="CustomerOrderId" type="hidden" asp-for="CustomerOrderId" />
                    <div class="form-group">
                        <label asp-for="Number">Номер документа</label>
                        <input name="Number" class="form-control" asp-for="Number" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Date">Дата документа:</label>
                        <input name="Date" class="form-control" asp-for="Date" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerId">Id Клиента</label>
                        <input name="CustomerId" class="form-control" asp-for="CustomerId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Status">Статус заказа?</label>
                        <select name="Status" class="form-control" asp-for="CustomerOrderId">
                            <option value="-1">Выберите статус заказа</option>
                            <option value="1">Не согласован</option>
                            <option value="2">Согласован</option>
                            <option value="3">К обеспечению</option>
                            <option value="4">К отгрузке</option>
                            <option value="5">Закрыт</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalPrice">Сумма документа</label>
                        <input name="TotalPrice" class="form-control" asp-for="TotalPrice" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-secondary" id="btnAdd" onclick="return addOrder();">Добавить заказ</button>
                <button type="button" class="btn btn-primary btn-secondary" id="btnUpdate" style="display:none;" onclick="updateOrder();">Обновить заказ</button>
                <button type="button" class="btn btn-default btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


